@import "tailwindcss";

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-roboto_condensed: var(--font-roboto_condensed);

  /* Линейка Slate (нейтральные) */
  --color-slate-50: #f9f9fb;
  --color-slate-100: #f1f1f5;
  --color-slate-150: #f5f5f9;
  --color-slate-200: #e6e6eb;
  --color-slate-300: #c7c7d7;
  --color-slate-400: #aab;
  --color-slate-500: #7f7f8e;
  --color-slate-800: #2b2c3c;
  --color-slate-950: #14151a;

  --color-gray-200: #e5e5e5;

  /* Линейка Teal (бирюзовые акценты) */
  --color-teal-300: #00feff;
  --color-teal-350: #00dbdb;
  --color-teal-400: #01c2c3;
  --color-teal-600: #029999;


  --color: #04e0e1;
  --color: #b8210a;
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in: fade-in 0.3s ease-out forwards;
}

body {
  font-family: var(--font-roboto);
  color: var(--color-slate-950);
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}


.border-scale {
  position: relative;
}

.border-scale::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  transform-origin: 0 0;
  transform: scale(0.5);
  width: 200%;
  height: 200%;
  
}